/* .navigation {
  justify-content: space-between;
  color: blanchedalmond;
}
.navbar:hover {
  background-color: white;
}
.nav1 {
  justify-content: end;
  flex-direction: row;
}
 */
.button {
  background-color: transparent;
  color: black;
  border: 1 solid black;
}
