.formbutton{
    
    width: 180px;
    height: 68px;
    border: transparent;
    
    /* gradient */
    
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    border-radius: 10px;
}

.divbtnSub{


border-radius: 50%;
width: 70px;
height: 70px;
right: 1255px;
top: 3834px;

/* gradient 02 */

background: linear-gradient(201.65deg, #747DEF 10.27%, #5E3BE1 100%);
}

.subRow{
   

width: 859px;
height: 108px;


font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 33px;
line-height: 54px;
/* or 164% */

text-align: center;

/* TEXT CLR */

color: #5E6282;
}
.homecontainer{
    
    width: 1170px;
    height: 407px;
    
    display: flex;
    justify-content: center;   
    
    /* light color */
    
    background: #F9F7FE;
   
   border-radius: 129px  20px  20px 20px;
   /*    transform: matrix(-1, 0, 0, 1, 0, 0);
   */ margin: auto;
}

.email{
   
width: 421px;
height: 68px;


/* white */

background: #FFFFFF;
border-radius: 10px;
}


.subCol{
    display: flex;
    justify-content: center;
   margin: 50px;
   position: relative;
}

.subcribtionForm{display: flex;
    position: relative;
justify-content: center;}